/* 
Name : Vuhu 

introduction css style sheet 
    1 Golabal style 
        1.1 golabal css
        1.2 navigation style 
    2. index.html ( home page )
        2.1 hero section 
        2.2 home Free trial  section 
        2.3 Start FAQ section 
        2.4 footer section
        2.5 Home  page responsive Style
    3 Register page yes 
        3.1 page design 
        3.2 responsive style 








*/
/* 
***********************************
  1.1 Global Style  
 **********************************
 */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
a {
    text-decoration: none !important;
}

.container {
    max-width: 1200px;
}
.container-fluid {
    width: 95%;
    margin: auto;
}
.bg-gradient {
    background: linear-gradient(110deg, rgba(248,193,54,0.5046393557422969) 0%, rgba(245,150,176,0.4990371148459384) 69%) !important
    ;
    background-repeat: no-repeat;
    background-size: cover;
}
/* color name col- 1 Electric Violet */
.color-violet  {
    color: #820BF0;
}
.bg-violet {
    background: #820BF0;
}
/* color name col - 2  Whisper */
.color-whisper {
    color:#ECE9F1;
}
.color-black-3 {
    color:#333333 !important;
}
.color-black {
    color:#000000 !important;
}
.bg-whisper {
    background: #ECE9F1;
}
.bg-grey-2 {
   background: #4F4F4F;
}
.color-grey-2 {
    color:#4F4F4F;
}
.color-grey-3 {
    color:#828282;

}
.color-white {
    color:#ffffff;
}
.color-disable {
    color:#BDBDBD;
}
.font-24 {
    font-size: 24px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18;
}
.font-14 {
    font-size: 14px;
}
/* color name col -3  */
/* hero section gradient  */
/* button sm */
.button-small {
    background:#820BF0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding:10px 30px;
    box-shadow: 2px 2px 0px #000000;
    text-decoration: none;
    transition: 0.3s ease;
}
/* learg button  */
.button-large {
    background:#820BF0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding:12px 30px;
    box-shadow: 4px 4px 0px #000000;
    text-decoration: none;
    padding: 20px 68px;
    transition: 0.3s ease;
    
}
.button-small::after,
.button-large::after {
    content: '';
    width: 0;
    height: 0;
    background-color: transparent !important;
}
.button-large:hover {
    box-shadow: 3px 3px 0px #000000;
	transform: translateY(2px);
}
.button-small:hover {
    box-shadow: 1px 1px 0px #000000;
    transform: translateY(1px);
}
/* 
***********************************
 end  Global Style  
 **********************************
 */
 /* *****************
    1.2 navigation area 
 *********************
 */
 .navigation-area { 
    display: flex; width: 95%;
    margin:auto;
    align-items: center;
    padding-top: 20px;
}
.bg-gradient-menu-area {
    padding-bottom: 20px;
    width: auto;
}
.navigation-area .logo-link {
    text-decoration: none !important;
}
.vuhu-logo {
    display: flex;
}
.logo-image {
    width: 90px;
}
.logo-image img {
     width: 80%;
}
.logo-tile {
    display: flex;
    align-items: center;
}
.logo-tile h2 {
    font-size: 30px;
    font-weight: 800;
    color:#263238;
    margin-left: 0px;
}
.navigation {
    width: 50%;
    margin-left: auto;
}
.bg-gradient-nav {
    width: auto;
}
.bg-gradient-nav .desktop-menu {}
.bg-gradient-nav .desktop-menu li {
    margin-right: 64px;
}
.bg-gradient-nav .desktop-menu li:last-child {
    margin-right: 0px;
}
.bg-gradient-nav .desktop-menu .notification-icon {
    font-size: 25px;
    width: 30px;
    position: relative;
}
.bg-gradient-nav .desktop-menu .notification-icon.active {
    color:;
}
.bg-gradient-nav .desktop-menu  .notification-icon.active .notification-alert {
    width: 8px;
    height: 8px;
    background:red;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
}
.bg-gradient-nav .desktop-menu .profile-img-area .profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.navigation ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: space-between;
}
.navigation ul li{
    display: flex;
    align-items: center;
}
.navigation ul li a {
    text-decoration: none;
    color:#333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 8px 20px;
}
.bg-gradient-nav .mobile-navigation {
    justify-content: flex-end;
}
.navigation ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #333333;
    transition: width ease .3s;
}
.navigation ul li a:hover::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 2px;
    background-color: #333333;
    transition: width ease .3s;
}
.navigation ul li a.active::after {
    width: 100% ;
}
.navigation ul li a.button-small {
    color:#ffffff;
    text-transform: unset;
}
.navigation ul li a  .login-icon { 
    margin-right: 15px;
    width: 17px;
}
.mobile-navigation {
    display: none !important;
}
/* mobile slider menu  */
.mobile-menu {
    position: absolute;
    top: 0px;
    left:-800px;
    height: 100vh;
    background: #820BF0;
    padding: 20px;
    width: 100%;
    transition-duration: 1s;
    display: none;
}
.mobile-toggle-icon {
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
}
.menu-close-button {
    text-align: right;
}
.menu-close-button i{
    font-size: 20px;
    color:#ffffff;
    padding: 10px;
    cursor: pointer;
}
.monile-menu-link {
    padding-top: 80px;
    padding-left: 40px;
}
.monile-menu-link a {
    color:#fff;
    display:block;
    text-decoration: none;
    margin-bottom: 30px;

}
.monile-menu-link a img {
    color: #ffffff;
    margin-left: 10px;
}
.mobile-menu-trial-button {
    position: absolute;
    bottom: 120px;
    left: 50%;
transform: translateX(-50%);
}
.mobile-menu-trial-button  a.button-small {
    background: #ffffff;
}
.mobile-slider-nav-logout {
    position: absolute;
    bottom: 30px;
}
/* end navigation area  */

/* ********************** 2 Start Home page ******************************** */



/* 
***************************
    2.1 start  home Hero  section 
***************************
*/
.vuhu-homehero-section {
    /* background: linear-gradient(101.33deg, #F8C136 -8.88%, #F596B0 107.4%); */
    height:calc(100vh + 20vh);
}
/* hero home area  */
.home-hero-area {
    margin-top: 70px;
    padding-bottom: 45px;
 
}
.home-hero-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1.5;
}
.home-hero-desc {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}
.home-hero-button {
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}
.home-hero-button:hover {
    color:#ffffff;
}
.hero-home-img {
    text-align: center;
    position: relative;
}
.hero-home-img img {
    
}
.hero-mobile-img {
    z-index: 20;
    position: relative;
}
.mobile-shadow-img {
    z-index: 10;
    position: relative;
    margin-top: -50px;
    width: 100%;
}
.mobile-shadow {
}
.gradient-text {
    background: -webkit-linear-gradient(180deg, rgba(253,29,29,1) 0%, rgba(245,96,64,1) 50%, rgba(131,58,180,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* 
***************************
End  home Hero  section 
***************************
*/


/* 
***************************
 2.2 Start  home Free trial  section 
***************************
*/
.free-trial-section {
    padding-top: 100px;
    padding-bottom: 80px;
}
.tree-trial-info {
    width: 95%;
    margin: auto;
    font-weight: 500;
    margin-bottom: 100px;
}
.free-trial-title {
    font-size: 48px;
    padding-bottom: 37px;
}
.free-trial-desc {
    margin-bottom: 20px;
}
.free-trial-option {
    margin-bottom: 62px;
}
.option-icon {}
.option-icon img{
    width: 100%;
}
.option-info {
    margin-left: 115px;
}
.option-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.option-desc {
    line-height: 2;
}
.option-link-button {
    text-decoration: none;
    font-size: 16px;
    display: inline;
}
.option-title,
.option-desc,
.option-link-button {
    font-weight: 500;
}
.option-link-button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #333333;
    transition: width ease .3s;
}
.option-link-button:hover::after {
    width: 35% !important;
}
/* 
***************************
End  home Free trial  section 
***************************
*/

/* 
***************************
 2.3 Start FAQ section 
***************************
*/
.faq-section {
    margin-bottom: 195px;
}
.faq-section-area {}
.faq-title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
}
.faq-subtitle {
    margin-bottom: 50px;
    font-weight: 400;
}
/*  Accordion  */
.accordion-item-vuhu {
    margin-bottom: 20px;
}
.accordin-header {
    padding:26px 40px;
    box-shadow: 8px 8px 0px #4f4f4f;
}
.accordion-title {
    font-size: 24px;
    font-weight: 600;
    color:#ffffff;
    margin-bottom: 0px;
}
.accordion-header-icon {
    display: inline;
}
.accordion-header-icon i {
    color:#ffffff;
}
.accordin-info-body {
    color:#ffffff;
    padding:45px 32px;
    box-shadow: 8px 0px 0px #4f4f4f;
    margin-left: 8px;
    display: none;
}
.open {
    display: block;
}
.accordion-desc {}
/* 
***************************
End FAQ section 
***************************
*/
/* 
***************************
2.4 Start footer Section  
***************************
*/
footer {
    padding: 20px;
}
.footer-info {
    padding-top: 110px;
    padding-bottom: 100px;
}
.footer-logo-area {
    margin-bottom: 35px;
}
.footer-logo {
}
.footer-logo-title {
    color:#ffffff;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
}
.footer-logo-title h2 {}
.footer-desc {
    color:#ffffff;
    font-size: 14px;
}
.footer-nav {}
.footer-nav h5 {
    color:#ffffff;
    font-size: 20px;
    font-weight: 800;
}
.footer-nav a {
    text-decoration: none;
    font-size: 16px;
    color:#fff;
    display: block;
    font-weight: 400;
}
.copyright-text {}
.copyright-text p {
    color: #fff;
    font-weight: 400;
}
/* 
***************************
End footer Section  
***************************
*/
/* ***************
    2.5 Home  page responsive Style 
*******************
*/
@media only screen and (max-width: 1024px ) {
    .vuhu-homehero-section {
        height: 100%;
    }
}
@media only screen and (max-width: 768px ) {
    .navigation {
        width: 70%;
        margin-left: auto;
    }
    .home-hero-title {
        font-size: 22px;
    }
    .free-trial-title {
        font-size: 28px;
    }

}

@media only screen and (max-width: 576px ) {
    .mobile-menu {
        display: block !important;
        z-index: 999;
    }
    .desktop-menu {
        display: none !important;
    }
    .mobile-navigation {
        display: flex !important;
    }
    .vuhu-logo {
        flex-direction: column;
    }
    .logo-image {
        width: 53px;
        height: 50px;
    }
    .logo-tile  h2{
        margin-left: 0px;
        font-size: 20px;
        margin-top: -5px;
    }
    .button-small {
        padding: 7px 10px;
    }
    .navigation {
        width: 70%;
    }
    .hero-info {
        order:2 !important;
    }
    .hero-home-img {
        order: 1 !important;
        margin-bottom: 60px;
    }
    .home-hero-area {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .home-hero-title {
        font-size: 24px;
        margin-bottom: 25px;
        line-height: 1.5;
        text-align: center;
    }
    .home-hero-desc {
        text-align: center;
    }
    .home-hero-button {
        padding: 15px 45px;
        font-size: 16px;
    }
    .hero-button {
        text-align: center;
    }
    .free-trial-title {
        font-size: 24px;
    }
    .free-trial-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .option-icon {
        width: 130px;
        margin: auto;
        padding-bottom: 30px;
    }
    .option-info  {
        margin-left: auto;
        text-align: center;
    }
    .accordion-title {
        font-size: 14px;
    }
    .accordion-item-vuhu {
        margin-bottom: 30px;
    }
    .faq-section {
        margin-bottom: 140px;
    }
    .footer-logo-area {
        justify-content: center;
    }
    .footer-info {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-desc {
        text-align: center;
        font-size: 14px;
    }
    .footer-nav  {
        text-align: center;
        padding:70px 0px;
        font-size: 15px;
    }
    .copyright-text p {
        font-size: 13px;
    }
}
/******************************
End Home page Responsive style 
********************************
 */
/* *************************************  End Home page ********************************** */


/* ******************************* Start  Resgister page  ********************************/
/* *******************************
3.1 Register apge yes design + Register no page style 
***********************************
 */
.register-page-hero-section {
   
    height:calc(100vh + 20vh);
    
}
.register-hero-area {
    margin-top: 70px;
    padding-bottom: 45px;
 
}
.register-page-img {
    height: 475px;
}
.reg-title {
    font-size: 24px;
    font-weight: 800;
}
.reg-desc {
    font-size: 16px;
    font-weight: 400;
}
input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 15px;;
    border: 2px solid rgba(51, 51, 51, 0.5);
    outline: none;
}
input[type='email'],
input[type='text'],
input[type='password'] {
    width: 100%;
}
input[type=checkbox] {
    transform: scale(1.5);
}
input::focus {
    outline: none;;
}
.input-group {
    position: relative;
    margin-bottom: 15px;
}
.input-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}
.coupon-code {
    margin-bottom: 20px;
    position: relative;
}
.coupon-code-input {
    border:1px solid red;
    z-index: 20;
    font-size: 50px;
    padding: 0px;
    border: none;
    background: transparent;
}
.coupon-placeholder-bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
}

.coupon-code-number {
    width: 25px;
    border-bottom:2px solid rgba(51, 51, 51, 0.5);
    display: inline-block;
}
.show-pass-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.invite-title {
    font-size: 18px;
    font-weight: 700;
}
.checkbox-area {
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.from-submit-button {
    border:none;
    padding: 16px 70px;
    color: #ffffff;
}
/* 
**********************************
3.2 register page Responsive Style + register no page style 
************************************
 */
 @media only screen and (max-width: 760px ) {
    .register-page-hero-section  {
        height: 100vh;
    }
    .register-page-hero-section .hero-home-img {
        display: none;
    }

 }
 @media only screen and (max-width: 576px ) {
    .register-page-hero-section  {
        height: calc(100vh + 20vh)
    }
    .register-hero-area {
        padding: 50px 0px;
        width: 95%;
        margin: auto;
    }
    .reg-title {
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
    }
   
 }

/* ******************************* End  Resgister page  ********************************/
.login-page-area {
    height: calc(100vh + 20vh);
}
.login-hero-area {
   
}
.progress-bar-password {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: -10px;

}
.progress-line-pass  {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 10px;
}
.support-subject {
    padding-left: 20px !important;
}
textarea {
    padding: 20px;
    width: 100%;
}
.login-section {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
   
}
.log-in-area {
    width: 40%;
    padding-top: 80px;
}
.log-in-title {
    font-size: 45px;
    font-weight: 800;
}
.login-sub-title {
    font-size: 18px;
}
.forgot-pass-title {
    font-size: 16px;
    font-weight: 500;
}
.are-you-user {
    font-size: 18px;
}
.are-you-user .asking-user {
    font-weight: 500;
}
.are-you-user .free-trial-link {
    font-weight: 600;
}
@media only screen and (max-width: 768px )  {
    .log-in-area {
        width: 70%;
        margin: auto;
    }
}
@media only screen and (max-width: 576px ) {
    .log-in-area {
        width: 95%;
        margin: auto;
    }
    .log-in-title {
        font-size: 24px;
    }
 
    .are-you-user .free-trial-link {
        display: block;
    }
}
/* 
login page style
*/

/* ************************* Start account setting page style **************************/
.account-setting-section {
    padding-top: 78px;
    height: calc(100vh + 20vh);
}
.account-leftside {}

.dashboart-activity,
.add-account {
    margin-left: 15px;
    display: block;
}
.dashboart-activity {
    margin-bottom: 60px !important;
}

.add-account {
    margin-top: 30px;
}
.dasboard-icon {
}
.Dashboard-title {
}
.account-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.add-account {
    font-size: 16px;
    font-weight: 600;
}
.add-account i {
    font-size: 18px;
    
}
.add-account span {}
.account-setting-card {
    border:1px solid #E0E0E0;
    padding: 64px 34px;
    margin: auto;
}
.account-setting-card-title {
    font-size: 24px;
}
.card-add-user-img {
    margin-bottom: 50px;
}
.image-upload:hover {
    cursor: pointer;
} 
#add-image {
    display: none;
}
@media only screen and (max-width:768px) {
    .bg-gradient-nav  {
        width: auto;
    }
}
@media only screen and (max-width:576px) {
    .account-setting-section {
        padding-top:100px;
        height: 100vh;
    }
    .account-setting-card  {
        padding: 40px 15px;
    }
    .card-add-user-img {
        margin-bottom: 25px;
    }
    
}
/* account add style */
.account-add-section .add-account:hover {
    color:#BDBDBD;
}
select#location {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 15px;
    border: 2px solid rgba(51, 51, 51, 0.5);
    position: relative;
    width: 100%;
}
.input-group {
    position: relative;
}
.account-add-card {
    border: none !important;
}
.account-add-form {}
.account-add-form input[type="text"], 
.account-add-form input[type="password"],
.account-add-form input[type="email"],
.account-add-form select {
    background-color: #F2F2F2;
}
.status {
    color: #EB5757;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    display: none;
}
.add-account-pass.active {
    border-color: #820BF0;
}
.add-account-pass.active+i{
    color: #820BF0;
}
.add-account-pass.wrrong {
    border-color: #EB5757;
}
.add-account-pass.wrrong+i{
    color: #EB5757;
}
.wrrong {
    display: block;
}
.account-add-form select:focus {
    outline: none;
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: none;
}
@media only screen and (max-width:576px) {
   .account-add-section {
       padding-top: 65px;
   }
}
/* account add fav page style  */
.account-add-fav-area {}
.fav-image {
    border:2px dashed #820BF0;
    border-radius: 50%;
    padding: 8px;
    width: 100px;
    height: 100px;
}
.fav-title {
    font-size: 30px;
    font-weight: 600;
}
.fab-sub-title {
    cursor: pointer;
}
.alert-box {
    background: #F9F9F9;
    padding: 20px;
}
.alert-imag {
    width: 60px;
    height: 60px;
    border:2px dashed #820BF0;
    border-radius: 50%;
    padding: 5px;

}
.alert-title {
    font-weight: 600;
}
.close-alert {
    font-size: 11px;
    background: #BDBDBD;
    width: 18px;
    height: 18px;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media only screen and (max-width:576px) {
    .account-add-fav {
        padding-top: 20px;
        height: 100%;
        padding-bottom: 50px;
    }
}

/* account seeting graph page  */
.account-stt-header-and-flow-dtls::after {
    content: '';
    display: table;
    width: 100%;
    height: 1px;
    background: #dadada;
    margin-left: 160px;
}
.add-account-accoun-imag {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.account-link {
    font-weight: 400;
    margin-left: 36px !important;
}
.account-fllowers-details {
    display: flex;
    align-items: center;
}
.account-fllowers-info {}
.account-fllowers-info h2 {
    font-weight: 600;
    margin-bottom: 0px;
}
.account-fllowers-info p {
    margin-bottom: 0px;
    margin-left: 3px;
}
.grow-info .grow-title {
    font-size: 24px;
    font-weight: 500;
    color:#000000;
}
.grow-info  .grow-subtitle {
    font-size: 16px;
    font-weight: 400;
}
.grow-between-select {
    padding:5px;
}